@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  overflow-x: hidden; /* Disable horizontal scroll */
}

.email-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ff6600; /* The orange background */
  color: white;
  padding: 30px 20px 40px 20px;
  text-align: center;
  justify-content: center;
}

.phrase-container {
  height: 60px; /* Adjust this value based on your design */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Enhanced styling for the phrase */
.phrase {
  font-size: 1.9rem; /* Larger font size to make it stand out */
  font-weight: 500; /* Bold font */
  font-family: "Poppins", sans-serif;
  color: #ffffff; /* White text */
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  letter-spacing: 1px; /* Adds some spacing between letters for better readability */
  transition: transform 0.3s ease; /* Add a transform effect on hover */
}

.phrase:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.email-signup form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.email-signup input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
}

.email-signup button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.email-signup button:hover {
  background-color: #444;
}

.message {
  margin-top: 10px;
  text-align: center;
}
