/* General styling for body and features */
body,
html {
  color: #757575;
  font-family: sans-serif;
}

.features {
  padding: 50px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.feature-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 0px; /* Reduce or remove top margin to bring cards closer */
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 22%; /* Adjust this for different screen sizes */
  padding: 20px;
  text-align: center;
  min-width: 200px; /* Make sure cards don't get too small */
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #757575;
}

/* Media query for screens larger than 1116px */
@media (min-width: 1116px) {
  .card {
    width: 22%; /* Fit 4 cards comfortably */
  }
}

/* Media query for screens between 845px and 1116px */
@media (min-width: 845px) and (max-width: 1115px) {
  .card {
    width: 30%; /* Reduce the width slightly to fit 3 cards in a row */
  }
}

/* For smaller screens below 845px */
@media (max-width: 844px) {
  .card {
    width: 45%; /* Fit 2 cards in a row */
  }
}

/* For mobile screens */
@media (max-width: 460px) {
  .card {
    width: 100%; /* Make each card full width on smaller screens */
    margin-bottom: 20px;
  }

  /* .features .card h3,
  .features .card p {
    display: none; 
  } */

  .features .card img {
    display: block;
    margin: 0 auto;
  }
}
